@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

section {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 800px;
    place-items: center;
    justify-content: center;
}
.Sedans {
    padding: 20px;
    padding-top: 40px;
    background-color: hsl(31, 77%, 52%);
    height: 29rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.SUVs {
    padding: 20px;
    padding-top: 40px;
    background-color: hsl(184, 100%, 22%);
    height: 29rem;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.Luxury {
    padding: 20px;
    padding-top: 40px;
    background-color:hsl(179, 100%, 13%);
    height: 29rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 30px;
    color: aliceblue;
}
p {
    justify-content: space-between;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 13px;
}
button {
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
    width: 150px;
    height: 50px;
    font: 15px;
    margin-top: 40px;
    border: none;
}
button h2 {
    color: hsl(31, 77%, 52%);
    font-size: medium;
}
button h3 {
    color: hsl(184, 100%, 22%);
    font-size: medium;
}
button h4 {
    color: hsl(179, 100%, 13%);
    font-size: medium;
}
